extends layout

block content
  img(src="images/shiba.jpg", height="250")
  img(src="images/4-ways-cheer-up-depressed-cat.jpg", height="250")
  img(src="images/tesla-cat.jpg", height="250")
  img(src="images/horse-suit2.jpg", height="250")
